@import url('https://fonts.googleapis.com/css?family=Philosopher');

body {
  font-family: 'Philosopher' , sans-serif;
  margin: 0;
  padding: 0;
  
}
.row{
  min-height: 1px;
  margin:0;
  width: 100%;
  
}


