.basketCart{
  opacity: 0;
  display: none;
  position: absolute;
  box-shadow:0rem 0.2rem 1rem #725637;
  text-align: left;
  right:0;
  background: #B99664;
  border:0.1rem solid #B99664;
  z-index:1000;
}
.basket{
  position: fixed;
  right: 2.3%;
  box-shadow:0rem 0.2rem 1rem #725637;
  top:1rem;
  line-height: 1.2;
  font-size: 21px;
  color:#725637;
  text-align: left;
  z-index:1000;
  background: #725637;
  height: 65px;
}

.basket i{
  font-size:2rem;
  box-shadow: 0rem 0.2rem 3rem #484848;
  background: rgba(124, 62, 4, 0.392);
}

.basketCart li{
  position: relative;
 display: flex;
 flex-direction: row;
 justify-content: center;
  padding:0.8rem;
  background:rgba(237, 231, 231, 0.392);
  margin-bottom: 10px;
  font-size:12px !important;
  border-bottom:0.1rem solid #725637;
  border-top:0.1rem solid #725637;
  text-align: left;
  line-height: 0.5;
}

.basketCart li .btn{
  
 width: auto;
  background: transparent;
  color:#725637;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  padding:0.6rem;
  
}
.basketCart li .btn:first-child{
  background: #05b161;
  color:white;
}
.card-body{
  flex:0 0 auto;
  padding:0.3rem;
  margin: auto;
  width: 95%;
}
.basketCart li .btn:hover{
  background: #ee304875;
}
.basket a{
  color:#B99664;
  padding:0rem 1rem !important;
  padding-top:0.2rem !important;
  text-align: center;
}
#church_basket > div > div > div{
  padding:0.4rem;
  background: #B99664;
  border:0;
  
  text-align: left;
}


.innerBasket h6, 
.innerBasket button{
  
  padding:0.6rem;
  
  line-height: 1.2;
  text-align: left;
}
.basket li:hover .basketCart{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
@media only screen and (max-width:550px){
  .basketCart{
    right:0;
  }
}