.header{
  
  
  position: relative;
  margin-bottom: 0px;
  box-shadow:0.03rem 0.04rem 0.1rem rgba(48,63,63,0.3);
  
  border-bottom:none;
  border-radius: 0;
  z-index:99;
  padding:0;
}
.header img{
  width:100%;
}
.layer{
  
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  top:0;
  z-index:-50;
  background: #725637;
  /* opacity:0.7; */
}

.header>div>a>img{
  padding: 10%;
  z-index:1000;
}
@media only screen and (max-width:460){
  .header>div>a>img{
    padding: 0%;
  }
}