.main-menu{
  padding: 0px;
  box-shadow:0 0rem 0.1rem rgba(48,63,63,0.3);
  background: #725637;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.menu-items{
  list-style-type: none;
  padding:0;
  width: 100%;
}
.action{
  margin:5px;
  
  padding: 0px;
}

.action:hover{
  background: #B99664;
}
.action .btn{
  padding: 16px;
  background: transparent;
  color:white;
}
.action.active .btn{
  color:#725637;
}
.active{
  background: #B99664;
  box-shadow:0 0 20px 2px rgba(0,0,0,0.1);
  border:1px solid white;
  
}
.action .btn:focus{
  box-shadow: none;
}
